body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('cereal.gif');
    background-size: cover;
}

header {
    background-color: rgba(211, 47, 47, 1);
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer{
    background-color: rgba(211, 47, 47, 1); 
    color: white;
    padding: 50px;
    width: 100%;
    font-family:  'Pacifico', cursive;
    font-size: 40px;
}

.recipe-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.recipe-card {
    margin: 20px;
    text-align: bottom;
    border: 3px solid black;
    padding: 10px;
    height: 250px;
    width: 310px;
    background-color: blue;
    position: relative;
}

.recipe-card img {
    width: 100%;
    height: 70%;
}

.recipe-card h2, .recipe-card p {
    margin: 10px 0;
    font-family:  'Pacifico', cursive;
    color: whitesmoke;
}



.home-button {
    position: absolute; 
    top: 10px; 
    left: 20px; 
    z-index: 999; 
}

.home-button button {
    padding: 0; 
    border: none;
    background: none;
    width: 18px;
    height: 18px; 
    cursor: pointer;
}
